.navbar-brand {
    margin-right: 75%;
    margin-left: 3%;
}
.nav-link{
    font-size: 1.5rem;
    padding-top: 1.2rem;
    color: white;
    font-family: monospace;
}
nav {
    background-color: black;
}

.nav-item {
    padding-right: 10%;
}
/* moving text*/

.wrapper {
  height: 30vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  background-color: black;

}

.typing-demo {
  width: 18ch;
  animation: typing 2s steps(18), blink .5s step-end infinite
  alternate;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 4em;
  margin-top: 5%;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* About */
body {
    color: white;
    background-color:black;
}

.about{
    font-family: Rajdhani;
    margin-top: 10%;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:10%;
    text-align:center;
}
p {
    font-size: 2em;
}

h2 {
    font-size: 3em;
    padding-bottom: 5%;
}

/* Footer */

.btn-circle {
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      border-radius: 50%;
      text-align: center;
      font-size: 16px;
      line-height: 1.42857;
      margin: 10px;
    }
.footer {
    margin-bottom: 5%;
    margin-top: 3%;
}
.copyright {
    margin-top: 10px;
    margin-bottom: -50px;
    font-size: 1rem;
    font-family: Rajdhani;
}
