{% include 'header.html'%}

<div class="wrapper">
    <div class="typing-demo" id="home">
      <b>Hello, I am Daniil</b>
    </div>
</div>

<div class="about" id="about">
    <h2>About Me</h2>
    <p>I am a self-taught Python Developer with knowledge in Python scripts, web development, GUI design, data scraping, and data visualization. I have developed dynamic websites, created user-friendly interfaces with Tkinter, and performed data scraping with BeautifulSoup and Selenium. Additionally, I specialize in transforming data into insightful visualizations using libraries like Matplotlib and Seaborn. My continuous learning and hands-on project experience drive my ability to deliver effective and innovative solutions.</p>
</div>
{%include 'footer.html'%}